/* Coolors to use
black 111111
yellow  ffc857
orange  e9724c
red c5283d
white/grey  e8d7f1
*/


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(58, 58, 58);
  color: #e9724c;
}

button {
  width: 20%;
  height: 50px;
  flex-grow: 2;
}

#container-calculator {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;  
  /* width: 50%;
  height: 1000px; */
  align-items: center;
}

#button-container {
  display: flex;
  gap: 2px;
  justify-content: center;
  
  flex-grow: 2;
  /* border: 1px solid #ffc857; */
  border-radius: 5px;
  margin: 5px;
}

#button-container-left {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  
  
}

#button-container-right {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  font-size: 36px;
  gap: 2px;
}

#screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width:97.5%;
  height: 95%;
  gap: 10px;
  font-size: 24px;
  color: #111;
  background-color: #e8d7f1;
  border-radius: 5px;
}

#screen-input,
#screen-result {
  margin-right: 2%;
}



#clear,
#divide,
#multiply,
#delete,
#minus,
#plus,
#clear,
#equals {
  background-color: #ffc857;
  border: 1px solid rgb(57, 73, 78);
  border-radius: 5px;
}

#clear {
  order: 0;
  width: 30%;
  
}

#divide {
  order: 2;
  width: 30%;
}

#multiply {
  order: 0;
  width: 100%;
  height: 20%;
}

#delete {
  order: 1;
  width: 30%;
}

#minus {
  order: 1;
  width: 100%;
  height: 20%;
}

#plus {
  order: 2;
  width: 100%;
  height: 20%;
}

#equals {
  order: 3;
  width: 100%;
  height: 40%;
}

#zero {
  order: 13;
  flex-grow: 2;
  width: 30%;
}

#one {
  order: 3;
  width: 30%;
}

#two {
  order: 4;
  width: 30%;
}

#three {
  order: 5;
  width: 30%;
}

#four {
  order: 6;
  width: 30%;
}

#five {
  order: 7;
  width: 30%;
}

#six {
  order: 8;
  width: 30%;
}

#seven {
  order: 9;
  width: 30%;
}

#eight {
  order: 10;
  width: 30%;
}

#nine {
  order: 11;
  width: 30%;
}

#precentage {
  order: 12;
  width: 30%;
  
}

#comma{
  order: 14;
  width: 30%;
  
}

